#menu-superior {
	background-color: #222;
	position: fixed;
	width: 100%;
}

#menu-superior ul {
	margin-top: 0px;
	float: right;
}

#menu-superior ul li{
	display: inline-block;
	margin-top: 15px;
	margin-left: 1px;
}

#menu-superior a {
	background-color: DodgerBlue;
	color: White;
	padding: 10px;
	margin-right: 5px;
	text-decoration: none;
}

#menu-superior li.active a {
	background-color: DodgerBlue;
	box-shadow:inset  0 -5px 0 0 Red;
	color: White;
	padding: 10px;
	margin-right: 5px;
	text-decoration: none;
}

#menu-superior ul a:hover {
	background-color: RoyalBlue;
}